<% include head.ejs %>
<% include nav.ejs %>
  <form class="form-inline">
    <div class="form-group">
      <label for="torrentId">少年来个磁力链接: </label>
      <input name="torrentId" type="text" value="https://webtorrent.io/torrents/sintel.torrent" class="form-control">
    </div>
    <button id="online" type="button" class="btn btn-primary">在线播</button>
    <button id="download" type "button" class="btn btn-success">下载到VPS</button>
  </form>
  <hr>
  <h6>logs</h6>
  <div class="log text-center"></div>

<% include foot.ejs %>