<% include head.ejs %>
<% include nav.ejs %>

<form class="form-inline">
  <div class="form-group">
    <label for="torrentId">少年来个磁力链接: </label>
    <input name="torrentId" type="text" value="https://webtorrent.io/torrents/sintel.torrent" class="form-control">
  </div>
  <button type="button" class="btn btn-primary">下载</button>
</form>
<hr>
<h6>日志</h6>
<div class="log"></div>
<% include foot.ejs %>
